<header class="header">
	<div class="wrap">
		<div class="header__logo">
			<a href="{{ site.baseurl }}/" class="header__logo__link">
				LUiS CiELAK
			</a>
		</div>

		<div class="menu__toggle js-menu-toggle">
			<div class="menu__toggle__icon"><span></span></div>
		</div>

		<nav class="header__menu">
			{% for item in site.data.settings.menu_settings.menu_items %}
			<a href="{{ site.baseurl }}{{ item.url }}" class="header__menu__item">{{ item.title }}</a>
			{% endfor %}

			<a href="#" class="header__menu__item button contact-trigger js-contact">Let's chat →</a>
		</nav>
	</div>
</header>