<section class="about" id="about">
  {% if include.divider == true %}
  <div class="wrap"><hr/></div>
  {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">
    </div>

    <div class="about__content">
      <h2 class="title">Luis Cielak</h2>
      <p class="subtitle subtitle--light">Product Design Lead</p>
      
      <p>Hi, I’m Luis Cielak—a Product Design Lead who partners with teams to build digital experiences that are purposeful, clear, and impactful.</p>
      <p>My design philosophy is simple: clarity above all. I believe great design solves real problems, bridges gaps between users and businesses, and leaves things better than it found them. Over the past decade, I’ve worked across SaaS, fintech, e-commerce, and data-heavy platforms, helping organizations turn complexity into intuitive products.</p>
      <p>I’m driven by a passion for systems thinking, collaborative leadership, and design that’s as functional as it is beautiful. Whether I’m mapping journeys, building out scalable design systems, or mentoring junior designers, my focus is always on delivering meaningful outcomes—designs that not only look good but perform in the real world.</p>
      <p>When I’m not deep in Figma or user research, I’m often exploring photography, teaching workshops, or thinking about the next side project.</p>

      <p>Let’s build something great together.</p>
      
      <p><a href="https://github.com/luiscielak/sqdesignlabs/files/9779692/lcielak_resume.pdf" target="_blank" rel="noopener noreferrer">Download Resume ￬</a></p>
    </div>

  </div>
</section>