<section class="case-studies" id="case-studies">
  <div class="wrap grid">
    <h5 class="section-title">Projects</h5>
    <div class="case-studies__list grid">


<article class="case-study-card post__card">
  <a href="/case-study-mss" class="post__link">

    <div class="card-heading h5">🚚 Case Study</div>
    <span class="card-title h2">Redefining Field Dispatch: Mobile-First & Real-Time</span>
    <div class="card-tldr">A mobile-first dispatch system that slashed paperwork and sped up operations.</div>
    <div class="card-features">
      <span class="card-features-item">
        <span class="card-features-item-value">📱 95%</span>
        <span class="card-features-item-label">Mobile Adoption</span>  
      </span>
      <span class="card-features-item">
        <span class="card-features-item-value">⏱️ 40%</span>
        <span class="card-features-item-label p_small">Faster Job Completion</span>
      </span>
    </div>
    <!-- <div class="card-cta">
      <a href="/case-study-mss" class="post__link">
        Listen to summary
      </a>

      <a href="/case-study-mss" class="post__link">
        Read full case study
      </a>
    </div> -->
  </a>
</article>

<article class="case-study-card post__card">
  <a href="/case-study-pmi-da" class="post__link">
    <div class="card-heading h5">🔖 Case Study</div>
    <span class="card-title h2">Streamlining Certification: A Mobile-First Learning Journey</span>
    <div class="card-tldr">Redesigned a global certification platform to simplify learning and boost completion rates.</div>
    <div class="card-features">
      <span class="card-features-item">
        <span class="card-features-item-value">⏱️ 23%</span>
        <span class="card-features-item-label">Faster Certification Timelines</span>
      </span>
      <span class="card-features-item">
        <span class="card-features-item-value">18%</span>
        <span class="card-features-item-label">📉 Drop in Support Tickets</span>
      </span>
    </div>
  </a>
</article>
  
    </div>
  </div>
</section>
