// - - - - - - - - - - - - - - - - - -

// Section - Case Studies

// - - - - - - - - - - - - - - - - - -

.case-studies {

  .case-studies__header {
    margin-bottom: 40px;

    .action {
      display: none;
      justify-self: end;
      align-self: center;
    }
  }

  .case-studies__list {
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 56px;
    margin-bottom: 48px;
  }

  .case-study-card {
    
    border-radius: 4px;
    border: 1px solid #cacaca;

    .post__link {
      padding: 10rem 2rem 3rem 2rem;
    }
    
    .card-heading {
      font-size: 1rem;
      margin-bottom: 1rem;

    }

    .card-tldr {
      
      font-size: 1.85rem;
      padding-top: 1rem;
      padding-bottom: 3rem;
      
      line-height: 2.2rem;
      font-weight: 200;
    }

    .card-features {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }

    .card-features-item-value {
      font-family: $title-font;
      text-align: center;
      font-weight: 400;
      font-size: $h2-size-small;
      line-height: $h2-lineheight-small;
      display: flex;
      align-items: left;
      justify-content: left;

    }

    .card-features-item-label {
      // font-size: $h4-size-small;
    }
  }  

  .action-bottom {
    justify-self: center;
  }

  @include mq(tabletp) {
    padding: 0 0 10px;

    .case-studies__header {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .action {
        display: block;
        justify-self: end;
        align-self: center;
      }
    }

    .case-studies__list {
      grid-gap: 30px;
      grid-template-columns: 1fr 1fr;
    }

    .post__image {
      height: 200px;
    }

    .action-bottom {
      display: none;
    }
  }

  @include mq(tabletl) {
    .post__image {
      height: 265px;
    }
  }
}
